In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
car_df=pd.read_csv(r"car data.csv")
car_df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

## Preprocessing the data

In [26]:
car_df.info()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [4]:
car_df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

checking for nul values. There are no null values present.

In [5]:
car_df.duplicated().sum()

2

There are two duplicated values and we have to drop them.

In [6]:
car_df.drop_duplicates(inplace=True)

In [7]:
car_df.shape

(299, 9)

In [8]:
car_df.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   299.000000     299.000000     299.000000     299.000000  299.000000
mean   2013.615385       4.589632       7.541037   36916.752508    0.043478
std       2.896868       4.984240       8.566332   39015.170352    0.248720
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.850000       1.200000   15000.000000    0.000000
50%    2014.000000       3.510000       6.100000   32000.000000    0.000000
75%    2016.000000       6.000000       9.840000   48883.500000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [9]:
# Converting categorical data into numerical data

colname=[]
for x in car_df.columns:
    if car_df[x].dtype=='object':
        colname.append(x)
colname

['Car_Name', 'Fuel_Type', 'Selling_type', 'Transmission']

In [10]:
from sklearn.preprocessing import LabelEncoder
 
le=LabelEncoder()
 
for x in colname:
    car_df[x]=le.fit_transform(car_df[x])

In [11]:
car_df.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0
3,96,2011,2.85,4.15,5200,2,0,1,0
4,92,2014,4.60,6.87,42450,1,0,1,0

In [12]:
# creating X & Y

X= car_df.loc[:,['Car_Name', 'Year', 'Present_Price', 'Driven_kms','Fuel_Type', 'Selling_type', 'Transmission', 'Owner']]
Y= car_df.loc[:,['Selling_Price']]

In [13]:
# Scaling the data

from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

scaler.fit(X)
X= scaler.transform(X)

In [14]:
#Split the data into test and train
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,      # 70:30 is split ratio
                                                    random_state=10)

## Random Forest

In [24]:
# Predicting using the RandomForestRegressor

from sklearn.ensemble import RandomForestRegressor

model_RF=RandomForestRegressor(n_estimators=500,criterion="mse",random_state=10)
model_RF.fit(X_train,Y_train)

Y_pred=model_DecisionTree.predict(X_test)
print(Y_pred)

[ 2.7   4.1   1.2   0.42  6.    0.75  0.2   0.45  3.95  5.5   4.75  2.5
  0.2   9.15  8.5   5.5  17.    3.35  0.65  8.4  14.9   0.2   9.25  1.1
  1.2   1.1   0.35  5.3   0.95  0.51  6.1   0.42  3.9   0.4   0.35  1.1
  3.65  4.75  0.65  0.35  3.6   5.9   3.6  11.5  11.75  0.35  0.51  0.95
  0.65  1.7   1.7   2.65  0.45  4.75  0.15  2.9   0.5   7.05  5.9   4.5 ]

In [23]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.9546284813204328
RMSE: 0.8475533414875236
Adj R-square: 0.9533768532189275

In [25]:
# score value
model_RF.score(X_train, Y_train)

0.9870783316846026

## Conclusion
The Random Forest model gives a good prediction.

The R-squared and Adj R-squared values are 0.96507 & 0.96411 simultaneously.

It is also close to score value.